@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "DePixel Halbfett";
  src: url("assets/depixelhalbfett.otf");
}
@font-face {
  font-family: "DePixel Klein";
  src: url("assets/depixelklein.otf");
}
@font-face {
  font-family: "DePixel Illegible";
  src: url("assets/depixelillegible.otf");
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes node-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: calc((15 - var(--depth)) / 15);
  }
}
@keyframes node-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: calc((15 - var(--depth)) / 15);
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes reveal-hide {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes reveal-hide {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes line-throb {
  0% {
    stroke-width: 0.2vmin;
  }
  50% {
    stroke-width: 0.4vmin;
  }
  100% {
    stroke-width: 0.2vmin;
  }
}
@keyframes line-throb {
  0% {
    stroke-width: 0.2vmin;
  }
  50% {
    stroke-width: 0.4vmin;
  }
  100% {
    stroke-width: 0.2vmin;
  }
}
@-webkit-keyframes nonagon-flash {
  0% {
    box-shadow: 0 0 0rem 0rem red;
  }
  100% {
    box-shadow: 0 0 15rem 1rem red;
  }
}
@keyframes nonagon-flash {
  0% {
    box-shadow: 0 0 0rem 0rem red;
  }
  100% {
    box-shadow: 0 0 15rem 1rem red;
  }
}
@-webkit-keyframes nonagon-pulse {
  0% {
    box-shadow: 0 0 4rem 1rem red;
  }
  100% {
    box-shadow: 0 0 15rem 1rem red;
  }
}
@keyframes nonagon-pulse {
  0% {
    box-shadow: 0 0 4rem 1rem red;
  }
  100% {
    box-shadow: 0 0 15rem 1rem red;
  }
}
@-webkit-keyframes powerup-bob {
  0% {
    transform: translateY(calc(-50% - 0rem)) scale(var(--scale));
  }
  100% {
    transform: translateY(calc(-50% - 0.7rem)) scale(var(--scale));
  }
}
@keyframes powerup-bob {
  0% {
    transform: translateY(calc(-50% - 0rem)) scale(var(--scale));
  }
  100% {
    transform: translateY(calc(-50% - 0.7rem)) scale(var(--scale));
  }
}
@-webkit-keyframes powerup-shadow-flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes powerup-shadow-flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes powerup-shine {
  0% {
    filter: contrast(1) brightness(1);
  }
  100% {
    filter: contrast(0.5) brightness(1.5);
  }
}
@keyframes powerup-shine {
  0% {
    filter: contrast(1) brightness(1);
  }
  100% {
    filter: contrast(0.5) brightness(1.5);
  }
}
* {
  box-sizing: border-box;
}

:root {
  font-size: 2vmin;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  font-family: "DePixel Klein";
  color: white;
  text-rendering: geometricPrecision;
  overflow: hidden;
}

section {
  position: absolute;
  width: 100vmin;
  height: 100vmin;
  overflow: hidden;
  cursor: cell;
}

#graph {
  position: absolute;
  fill: none;
  z-index: -100;
}
#graph path {
  z-index: inherit;
  stroke-width: 0.2vmin;
  stroke: rgba(255, 255, 255, 0.5);
  opacity: calc(0.3 + (15 - var(--depth)) / 15);
}

node {
  --r: 5;
  --depth: 0;
  --zind: -1;
  --rot: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: node-reveal 300ms 1;
          animation: node-reveal 300ms 1;
  height: calc(var(--r) * 1rem);
  width: calc(var(--r) * 1rem);
  background-color: transparent;
  background-size: cover;
  box-shadow: none;
  opacity: calc((15 - var(--depth)) / 15);
  transform-origin: center center;
  transition: opacity 300ms ease;
  transform: translate(calc(var(--x) * 1vmin), calc(var(--y) * 1vmin)) translateX(-50%) translateY(-50%) rotate(calc(var(--rot)));
  z-index: -1;
  border-radius: 100%;
}

section#playarea {
  background: rgb(10, 10, 10);
  z-index: -1000;
}

section#intro {
  z-index: 1000;
  display: flex;
  place-content: center;
  place-items: center;
  text-align: center;
  flex-direction: column;
  filter: drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10));
}
section#intro > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section#intro > div:nth-of-type(1) {
  transform: translate(-50%, -50%) translateY(-10rem);
}
section#intro #title {
  font-family: "DePixel Halbfett";
  font-size: 3rem;
  opacity: 0;
  -webkit-animation: reveal 1.5s linear 1s forwards, hide 1.5s linear 7s forwards;
          animation: reveal 1.5s linear 1s forwards, hide 1.5s linear 7s forwards;
}
section#intro #subtitle {
  font-family: "DePixel Klein";
  font-size: 2rem;
  opacity: 0;
  -webkit-animation: reveal 1.5s linear 2.5s forwards, hide 1.5s linear 7s forwards;
          animation: reveal 1.5s linear 2.5s forwards, hide 1.5s linear 7s forwards;
}
section#intro #premise {
  width: 100%;
}
section#intro #premise .premise {
  opacity: 0;
  --delay-reveal: 1s;
  --delay-hide: 5s;
  -webkit-animation: reveal 1.5s linear var(--delay-reveal) forwards;
          animation: reveal 1.5s linear var(--delay-reveal) forwards;
}
section#intro #premise #p1 {
  --delay-reveal: 8s;
}
section#intro #premise #p2 {
  --delay-reveal: 10s;
}
section#intro #premise #p3 {
  --delay-reveal: 12s;
}
section#intro #premise #p4 {
  --delay-reveal: 14s;
}
section#intro #premise #p5 {
  --delay-reveal: 16s;
}
section#intro #premise #p6 {
  --delay-reveal: 18s;
}
section#intro #premise #p7 {
  --delay-reveal: 20s;
}

section#UI {
  filter: drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10));
}
section#UI > div {
  display: flex;
  place-content: center;
  align-items: center;
}
section#UI #timer {
  opacity: 0;
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
  -webkit-animation: reveal 0.3s ease 5 alternate forwards;
          animation: reveal 0.3s ease 5 alternate forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
section#UI #messages {
  font-size: 1.5rem;
  opacity: 0;
  text-align: center;
}
section#UI #readyup {
  font-family: "DePixel Illegible";
  text-align: center;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 4rem;
  opacity: 0;
  -webkit-animation: blink 1s infinite 7.3s;
          animation: blink 1s infinite 7.3s;
}

section#controls {
  display: flex;
  place-content: center;
  place-items: center;
  justify-content: space-between;
  padding: 2rem;
  opacity: 0;
  filter: drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10));
}
section#controls > div {
  text-align: center;
}
section#controls * {
  vertical-align: middle;
}
section#controls .key {
  display: inline-block;
  position: relative;
  width: 0.7rem;
  margin: 0 0.2rem;
  text-align: center;
  font-family: "DePixel Klein";
  font-size: 0.7rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
section#controls .key::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("assets/keycap_unpressed.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
section#controls .key#space {
  box-sizing: content-box;
  display: inline-flex;
  place-items: center;
  place-content: center;
  width: auto;
  height: 0.1rem;
  border: solid 0.7470651014rem transparent;
  -o-border-image: url(assets/keycap_unpressed.png) 49%;
     border-image: url(assets/keycap_unpressed.png) 49%;
}
section#controls .key#space > span {
  transform: translateY(-15%);
}
section#controls .key#space::before {
  display: none;
}
section#controls .key#up {
  height: 0.7rem;
  background-image: url("assets/arrow-up.png");
}
section#controls .key#left {
  height: 0.7rem;
  background-image: url("assets/arrow-left.png");
}
section#controls .key#down {
  height: 0.7rem;
  background-image: url("assets/arrow-down.png");
}
section#controls .key#right {
  height: 0.7rem;
  background-image: url("assets/arrow-right.png");
}
section#controls .keygroup {
  display: inline-flex;
  flex-wrap: wrap;
  place-content: center;
}
section#controls .keygroup#wasd, section#controls .keygroup#arrows {
  width: 4.5rem;
  height: 3rem;
}
section#controls .keygroup#wasd > div, section#controls .keygroup#arrows > div {
  height: 1.5rem;
}
section#controls .keygroup#wasd > div:first-child, section#controls .keygroup#arrows > div:first-child {
  width: auto;
}
section#controls .mouse {
  display: inline-block;
  position: relative;
  height: 1rem;
  width: 1rem;
}
section#controls .mouse::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
section#controls .mouse.right::before {
  background-image: url("assets/mouseR.png");
}
section#controls .mouse.left::before {
  background-image: url("assets/mouseL.png");
}

section#overlay {
  z-index: 10000;
  mix-blend-mode: overlay;
  background-image: url(assets/dither.png);
  background-blend-mode: soft-light;
  transition: background-color 300ms ease;
}

.entity {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  display: grid;
  place-content: center;
  z-index: var(--zind);
  --x: 0;
  --y: 0;
  --zind: 50;
  --color: white;
  --scale: 1;
  --gothit: 0;
  transform: translate(calc(var(--x) * 1vmin), calc(var(--y) * 1vmin));
  transition: all 56ms ease;
}
.entity .body {
  width: 1rem;
  height: 2rem;
  background-color: var(--color);
  border-radius: 100%;
  box-shadow: 0 0 10px 0 black;
  --skew-h: 0;
  --skew-v: 0;
  --angle: 0;
  --matrix: 1, 0, calc(0.05 * var(--skew-h)), calc(1 + calc(0.05 * var(--skew-v))), 0, 0;
  --matrixtd: 1, 0, 0, 0, 0, calc(1 + calc(0.05 * var(--skew-v))), 0, 0, 0, 0, 1, 0, 0, calc(-1 + var(--skew-v)), 0, 1;
  --filter: none;
  transform: translateY(-50%) matrix(var(--matrix)) scale(var(--scale));
  transform-origin: bottom center;
  transition: transform 56ms ease, filter 20ms ease;
  filter: var(--filter);
}
.entity .shadow {
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  z-index: -1;
  filter: blur(5px);
  transform: rotateX(60deg) scale(1.5);
}
.entity .rangefinder {
  position: absolute;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, transparent calc(71% - 0.2vmin), white calc(71% - 0.2vmin));
  background-size: cover;
  height: calc(var(--radius) * 1rem);
  width: calc(var(--radius) * 1rem);
  transform: translate(-50%, -50%);
  transition: opacity 100ms ease;
  transition: none;
  border-radius: 50%;
  z-index: calc(var(--y) - 1);
}
.entity .rangefinder.active {
  transition: none;
}
.entity .hp {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 1.2rem;
  height: 0.3rem;
  background-color: black;
  border: solid 1px var(--color);
  outline: solid 1px black;
  opacity: var(--gothit);
}
.entity .hp .hp-bar {
  --hp: 0;
  width: var(--hp);
  height: 100%;
  background-color: var(--color);
}
.entity.hit .body {
  --scale: 1.1;
  --filter: brightness(1.5);
}

.dead .hp {
  opacity: 0;
}

#player {
  --color: rgb(0, 217, 255);
}
#player .body {
  border-radius: 45%;
}
.enemy {
  --color: rgb(150, 0, 0);
}
.enemy .body {
  border-radius: 100% 100% 0 0;
}

.mage {
  --color: rgb(0, 100, 255);
}
.mage .body {
  --rise: 0;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none;
  height: 3.2rem;
  width: 2rem;
  border-radius: 0 0 100% 100%;
  filter: drop-shadow(0 0.3vmin 0.1vmin rgb(10, 10, 10)) drop-shadow(0 0.3vmin 0.3vmin rgb(10, 10, 10));
  transform: translateY(calc(-50% + 0.2rem - var(--rise) * 1rem)) matrix(var(--matrix)) scale(var(--scale));
}
.mage .shadow {
  top: -0.5rem;
}
.mage[data-entity-id="1"] {
  --color: #d90300;
}
.mage[data-entity-id="1"] .body {
  background-image: url("assets/mage-1.png");
}
.mage[data-entity-id="2"] {
  --color: #fe01ef;
}
.mage[data-entity-id="2"] .body {
  background-image: url("assets/mage-2.png");
}
.mage[data-entity-id="3"] {
  --color: #00e204;
}
.mage[data-entity-id="3"] .body {
  background-image: url("assets/mage-3.png");
}
.mage[data-entity-id="4"] {
  --color: #e2e505;
}
.mage[data-entity-id="4"] .body {
  background-image: url("assets/mage-4.png");
}
.mage[data-entity-id="5"] {
  --color: #9a9a9a;
}
.mage[data-entity-id="5"] .body {
  background-image: url("assets/mage-5.png");
}
.mage[data-entity-id="6"] {
  --color: #8b0b49;
}
.mage[data-entity-id="6"] .body {
  background-image: url("assets/mage-6.png");
}
.mage[data-entity-id="7"] {
  --color: #02dae7;
}
.mage[data-entity-id="7"] .body {
  background-image: url("assets/mage-7.png");
}
.mage[data-entity-id="8"] {
  --color: #e16a00;
}
.mage[data-entity-id="8"] .body {
  background-image: url("assets/mage-8.png");
}
.mage[data-entity-id="9"] {
  --color: #0132E1;
}
.mage[data-entity-id="9"] .body {
  background-image: url("assets/mage-9.png");
}

.powerup {
  filter: drop-shadow(0 0 0.1vmin rgb(10, 10, 10)) drop-shadow(0 0 0.3vmin rgb(10, 10, 10));
}
.powerup .body {
  --height: 0rem;
  height: 2rem;
  width: 2rem;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none;
  -webkit-animation: powerup-bob 1.5s ease-in-out infinite alternate, powerup-shine 0.3s ease-in-out infinite alternate;
          animation: powerup-bob 1.5s ease-in-out infinite alternate, powerup-shine 0.3s ease-in-out infinite alternate;
}
.powerup .shadow {
  -webkit-animation: powerup-shadow-flicker 1.5s ease-in-out infinite alternate;
          animation: powerup-shadow-flicker 1.5s ease-in-out infinite alternate;
}
.powerup.atk .body {
  background-image: url("assets/powerup-atk.gif");
  transform-origin: bottom;
  --scale: 1.7;
}
.powerup.atkRange .body {
  background-image: url("assets/powerup-atkRange.png");
}
.powerup.atkCooldownTime {
  filter: hue-rotate(103deg) brightness(1.7) drop-shadow(0 0 0.1vmin rgb(10, 10, 10)) drop-shadow(0 0 0.3vmin rgb(10, 10, 10));
}
.powerup.atkCooldownTime .body {
  background-image: url("assets/powerup-atk.gif");
  transform-origin: bottom;
  --scale: 1.7;
}
.powerup.atkCooldownTime .body::after {
  background-image: url("assets/hourglass.gif");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  height: 0.7rem;
  width: 0.7rem;
  content: "";
  position: absolute;
  bottom: -5%;
  right: 20%;
}
.powerup.speed .body {
  background-image: url("assets/powerup-speed.png");
  --scale: 1.2;
}
#nonagon-infinity .body {
  animation: nonagon-flash 5s linear 12s 1 forwards, nonagon-pulse 2s linear 17s infinite alternate-reverse;
}

#incantation-circle {
  position: absolute;
  width: 100%;
  height: 100%;
}
#incantation-circle #circle-lines path {
  stroke-width: 0;
  stroke: red;
}

body.low-graphics section#overlay {
  background-image: none !important;
  background-color: none !important;
}
body.low-graphics #circle-lines path {
  -webkit-animation: none !important;
          animation: none !important;
  box-shadow: 0 0 8rem 1rem red;
}

body.graph-view #player .body {
  position: relative;
  height: 3rem;
  background: linear-gradient(to top, red 0%, transparent 1rem), grey;
  border-radius: 0% 0% 0% 100%;
  transform: translateY(-50%) rotate(24deg);
  transform-origin: center;
  transition: none;
}
body.graph-view #player .body::after {
  content: "";
  display: block;
  position: absolute;
  top: -95%;
  right: -5%;
  height: 3rem;
  width: 0.6rem;
  border-radius: 0.2rem;
  background: rgb(50, 50, 50);
}
body.graph-view #incantation-circle #circle-lines path,
body.graph-view .mage {
  display: none;
}
body.graph-view node {
  --r: 0 !important;
  background-image: none !important;
  border: solid 0.5rem white;
}
body.graph-view #nonagon-infinity {
  --r: 8 !important;
}
body.graph-view #dust {
  display: none;
}
/*# sourceMappingURL=style.css.map */