// --- Imports ---
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')
@font-face
   font-family: 'DePixel Halbfett'
   src: url('assets/depixelhalbfett.otf')
@font-face
   font-family: 'DePixel Klein'
   src: url('assets/depixelklein.otf')
@font-face
   font-family: 'DePixel Illegible'
   src: url('assets/depixelillegible.otf')
// ------------------
// --- Variables ----
// ------------------

$g-strokes: 0.2vmin
$pa-background: rgb(10, 10, 10)
$hp: rgb(200, 0, 0)
$max-depth: 15

// --- Animation Keyframes ---

@keyframes spin 
   0%
      transform: rotate(0deg)
   100%
      transform: rotate(360deg)
@keyframes reveal
   0%
      opacity: 0
   100%
      opacity: 1
@keyframes node-reveal
   0%
      opacity: 0
   100%
      opacity: calc( ($max-depth - var(--depth)) / $max-depth)
@keyframes hide
   0%
      opacity: 1
   100%
      opacity: 0
@keyframes reveal-hide
   0%
      opacity: 0
   35%
      opacity: 1
   65%
      opacity: 1
   100%
      opacity: 0
@keyframes blink
   0%
      opacity: 0
   25%
      opacity: 0
   50%
      opacity: 1
   75%
      opacity: 1
   100%
      opacity: 0
@keyframes line-throb
   0%
      stroke-width: $g-strokes
   50%
      stroke-width: calc($g-strokes * 2)
   100%
      stroke-width: $g-strokes
@keyframes nonagon-flash
   0%
      box-shadow: 0 0 0rem 0rem red
   100%
      box-shadow: 0 0 15rem 1rem red
@keyframes nonagon-pulse
   0%
      box-shadow: 0 0 4rem 1rem red
   100%
      box-shadow: 0 0 15rem 1rem red
@keyframes powerup-bob
   0%
      transform: translateY(calc(-50% - 0rem)) scale(var(--scale))
   100%
      transform: translateY(calc(-50% - .7rem)) scale(var(--scale))
@keyframes powerup-shadow-flicker
   0%
      opacity: 1
   100%
      opacity: 0.5
@keyframes powerup-shine
   0%
      filter: contrast(1) brightness(1)
   100%
      filter: contrast(0.5) brightness(1.5)

// ------------------
// --- Structural ---
// ------------------

*
   box-sizing: border-box
   // animation: none
:root
   font-size: 2vmin
body
   width: 100vw
   height: 100vh
   margin: 0
   display: flex
   align-items: center
   align-content: center
   justify-content: center
   background-color: rgb(0, 0, 0)
   font-family: 'DePixel Klein'
   color: white
   text-rendering: geometricPrecision
   overflow: hidden
section
   position: absolute
   width: 100vmin
   height: 100vmin
   overflow: hidden
   cursor: cell

// ------------------
// ----- Graph ------
// ------------------

#graph
   position: absolute
   fill: none
   z-index: -100
   path
      z-index: inherit
      stroke-width: $g-strokes
      // stroke-width: 0
      stroke: rgba(255, 255, 255, 0.5)
      opacity: calc(0.3 + ($max-depth - var(--depth)) / $max-depth)

node
   --r: 5
   --depth: 0
   --zind: -1
   --rot: 0
   position: absolute
   top: 50%
   left: 50%
   animation: node-reveal 300ms 1
   height: calc(var(--r) * 1rem)
   width: calc(var(--r) * 1rem)
   background-color: transparent
   background-size: cover
   box-shadow: none
   opacity: calc( ($max-depth - var(--depth)) / $max-depth)
   transform-origin: center center
   transition: opacity 300ms ease
   transform: translate(calc(var(--x) * 1vmin), calc(var(--y) * 1vmin)) translateX(-50%) translateY(-50%) rotate(calc(var(--rot)))
   z-index: -1
   border-radius: 100%

// ------------------
// ---- Sections ----
// ------------------

section#playarea
   background: $pa-background
   z-index: -1000

section#intro
   z-index: 1000
   display: flex
   place-content: center
   place-items: center
   text-align: center
   flex-direction: column
   // text-shadow: 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black
   filter: drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10))
   >div
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      &:nth-of-type(1)
         transform: translate(-50%, -50%) translateY(-10rem)

   #title
      font-family: 'DePixel Halbfett'
      font-size: 3rem
      opacity: 0
      animation: reveal 1.5s linear 1s forwards, hide 1.5s linear 7s forwards

   #subtitle
      font-family: 'DePixel Klein'
      font-size: 2rem
      opacity: 0
      animation: reveal 1.5s linear 2.5s forwards, hide 1.5s linear 7s forwards

   #premise
      width: 100%
      .premise
         opacity: 0
         --delay-reveal: 1s
         --delay-hide: 5s
         animation: reveal 1.5s linear var(--delay-reveal) forwards//, hide 1.5s linear var(--delay-hide) forwards
      #p1
         --delay-reveal: 8s
      #p2
         --delay-reveal: 10s
      #p3
         --delay-reveal: 12s
      #p4
         --delay-reveal: 14s
      #p5
         --delay-reveal: 16s
      #p6
         --delay-reveal: 18s
      #p7
         --delay-reveal: 20s

section#UI
   filter: drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10))
   > div
      display: flex
      place-content: center
      align-items: center
   #timer
      opacity: 0
      font-size: 3rem
      margin-top: 2rem
      text-align: center
      animation: reveal .3s ease 5 alternate forwards
      animation-play-state: paused
   #messages
      font-size: 1.5rem
      opacity: 0
      text-align: center
   #readyup
      font-family: 'DePixel Illegible'
      text-align: center
      position: absolute
      bottom: 0%
      left: 50%
      transform: translateX(-50%)
      margin-bottom: 4rem
      opacity: 0
      animation: blink 1s infinite 7.3s

section#controls
   display: flex
   place-content: center
   place-items: center
   justify-content: space-between
   padding: 2rem
   opacity: 0
   filter: drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10)) drop-shadow(0 0 0.3rem rgb(10, 10, 10))
   >div
      text-align: center
   *
      vertical-align: middle

   .key
      display: inline-block
      position: relative
      width: 0.7rem
      margin: 0 .2rem
      text-align: center
      font-family: 'DePixel Klein'
      font-size: 0.7rem
      background-position: center center
      background-size: cover
      background-repeat: no-repeat
      &::before
         content: ''
         display: block
         width: 1.5rem
         height: 1.5rem
         position: absolute
         top: 60%
         left: 50%
         transform: translate(-50%, -50%)
         background-image: url('assets/keycap_unpressed.png')
         background-position: center center
         background-size: cover
         background-repeat: no-repeat
      &#space
         box-sizing: content-box
         display: inline-flex
         place-items: center
         place-content: center
         width: auto
         height: .1rem
         border: solid 0.74706510139rem transparent
         border-image: url(assets/keycap_unpressed.png) 49% 
         >span
            transform: translateY(-15%)
         &::before
            display: none
      &#up
         height: 0.7rem
         background-image: url('assets/arrow-up.png')
      &#left
         height: 0.7rem
         background-image: url('assets/arrow-left.png')
      &#down
         height: 0.7rem
         background-image: url('assets/arrow-down.png')
      &#right
         height: 0.7rem
         background-image: url('assets/arrow-right.png')

   .keygroup
      display: inline-flex
      flex-wrap: wrap
      place-content: center
      &#wasd,
      &#arrows
         width: 4.5rem
         height: 3rem
         >div
            height: 1.5rem
         >div:first-child
            width: auto

   .mouse
      display: inline-block
      position: relative
      height: 1rem
      width: 1rem
      &::before
         content: ''
         height: 1.5rem
         width: 1.5rem
         position: absolute
         top: 50%
         left: 50%
         transform: translate(-50%, -50%)
         background-position: center center
         background-size: cover
         background-repeat: no-repeat
      &.right::before
         background-image: url('assets/mouseR.png')
      &.left::before
         background-image: url('assets/mouseL.png')

section#overlay
   z-index: 10000
   mix-blend-mode: overlay
   background-image: url(assets/dither.png)
   background-blend-mode: soft-light
   transition: background-color 300ms ease

// ------------------
// - Game elements --
// ------------------

.entity
   position: absolute
   left: 50%
   top: 50%
   width: 0
   height: 0
   display: grid
   place-content: center
   z-index: var(--zind)
   --x: 0
   --y: 0
   --zind: 50
   --color: white
   --scale: 1
   --gothit: 0
   transform: translate(calc(var(--x) * 1vmin), calc(var(--y) * 1vmin))
   transition: all 56ms ease
   .body
      width: 1rem
      height: 2rem
      background-color: var(--color)
      border-radius: 100%
      box-shadow: 0 0 10px 0 black
      --skew-h: 0
      --skew-v: 0
      --angle: 0
      --matrix: 1, 0, calc(0.05 * var(--skew-h)), calc(1 + calc(0.05 * var(--skew-v))), 0, 0
      --matrixtd: 1, 0, 0, 0, 0, calc(1 + calc(0.05 * var(--skew-v))), 0, 0, 0, 0, 1, 0, 0, calc(-1 + var(--skew-v)), 0, 1
      --filter: none
      // --matrix: 1, 0, 0.05, 1, -1, 0
      // --matrixtd: 1, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, -1, 0, 1
      transform: translateY(-50%) matrix(var(--matrix)) scale(var(--scale))
      transform-origin: bottom center
      transition: transform 56ms ease, filter 20ms ease
      filter: var(--filter)
   .shadow
      width: 1rem
      height: 1rem
      background-color: black
      border-radius: 100%
      position: absolute
      top: -0.5rem
      left: -0.5rem
      z-index: -1
      filter: blur(5px)
      transform: rotateX(60deg) scale(1.5)
   .rangefinder
      position: absolute
      background-image: radial-gradient(circle, rgb(255 255 255 / 10%) 0%, transparent calc(71% - $g-strokes), white calc(71% - $g-strokes))
      // background-image: url('assets/flash.png')
      background-size: cover
      height: calc(var(--radius) * 1rem)
      width: calc(var(--radius) * 1rem)
      // opacity: var(--opacity)
      transform: translate(-50%, -50%)
      transition: opacity 100ms ease
      transition: none
      border-radius: 50%
      z-index: calc(var(--y) - 1)
      &.active
         transition: none
   .hp
      position: absolute
      bottom: -20%
      left: 50%
      transform: translateX(-50%)
      width: 1.2rem
      height: 0.3rem
      background-color: black
      border: solid 1px var(--color)
      outline: solid 1px black
      opacity: var(--gothit)
      .hp-bar
         --hp: 0
         width: var(--hp)
         height: 100%
         background-color: var(--color)
   &.hit .body
      --scale: 1.1
      --filter: brightness(1.5)
      // transition: transform 30ms ease, filter 30ms ease

.dead .hp
   opacity: 0

#player
   --color: rgb(0, 217, 255)
   .body
      // background-image: radial-gradient(ellipse 20% 8% at calc(25%) 35%, black 80%, transparent 100%), radial-gradient(ellipse 20% 8% at calc(75%) 35%, black 80%, transparent 100%)
      border-radius: 45%
   .rangefinder
      // filter: hue-rotate(hue(cyan))

.enemy
   --color: rgb(150, 0, 0)
   .body
      border-radius: 100% 100% 0 0

.mage
   --color: rgb(0, 100, 255)
   .body
      --rise: 0
      background-size: contain
      background-color: transparent
      background-repeat: no-repeat
      background-position: center center
      box-shadow: none
      height: 3.2rem
      width: 2rem
      border-radius: 0 0 100% 100%
      filter: drop-shadow(0 0.3vmin 0.1vmin rgb(10, 10, 10)) drop-shadow(0 0.3vmin 0.3vmin rgb(10, 10, 10))
      transform: translateY(calc(-50% + 0.2rem - var(--rise) * 1rem)) matrix(var(--matrix)) scale(var(--scale))
   .shadow
      top: -0.5rem
   &[data-entity-id="1"]
      --color: #d90300
      .body
         background-image: url('assets/mage-1.png')
   &[data-entity-id="2"]
      --color: #fe01ef
      .body
         background-image: url('assets/mage-2.png')
   &[data-entity-id="3"]
      --color: #00e204
      .body
         background-image: url('assets/mage-3.png')
   &[data-entity-id="4"]
      --color: #e2e505
      .body
         background-image: url('assets/mage-4.png')
   &[data-entity-id="5"]
      --color: #9a9a9a
      .body
         background-image: url('assets/mage-5.png')
   &[data-entity-id="6"]
      --color: #8b0b49
      .body
         background-image: url('assets/mage-6.png')
   &[data-entity-id="7"]
      --color: #02dae7
      .body
         background-image: url('assets/mage-7.png')
   &[data-entity-id="8"]
      --color: #e16a00
      .body
         background-image: url('assets/mage-8.png')
   &[data-entity-id="9"]
      --color: #0132E1
      .body
         background-image: url('assets/mage-9.png')

.powerup
   .body
      --height: 0rem
      height: 2rem
      width: 2rem
      background-size: contain
      background-color: transparent
      background-repeat: no-repeat
      background-position: center center
      box-shadow: none
      animation: powerup-bob 1.5s ease-in-out infinite alternate, powerup-shine .3s ease-in-out infinite alternate
   .shadow
      animation: powerup-shadow-flicker 1.5s ease-in-out infinite alternate
   &.atk .body
      background-image: url('assets/powerup-atk.gif')
      transform-origin: bottom
      --scale: 1.7
// ------------------
// ---- Graphics ----
// ------------------

#nonagon-infinity .body
   animation: nonagon-flash 5s linear 12s 1 forwards, nonagon-pulse 2s linear 17s infinite alternate-reverse

#incantation-circle
   position: absolute
   width: 100%
   height: 100%
   #circle-lines
      path
         stroke-width: 0
         stroke: red

// ------------------
// -- No graphics ---
// ------------------

body.low-graphics
   section#overlay
      // opacity: 0
      background-image: none !important
      background-color: none !important
   // .rangefinder
   //    background-image: none
   #circle-lines path
      animation: none !important
      box-shadow: 0 0 8rem 1rem red

body.graph-view
   #player .body
      position: relative
      height: 3rem
      background: linear-gradient(to top, red 0%, transparent 1rem), grey
      border-radius: 0% 0% 0% 100%
      // border: solid .2rem white
      transform: translateY(-50%) rotate(24deg)
      transform-origin: center
      transition: none
      &::after
         content: ''
         display: block
         position: absolute
         top: -95%
         right: -5%
         height: 3rem
         width: .6rem
         border-radius: .2rem
         background: rgb(50 50 50)

   #incantation-circle #circle-lines path,
   .mage
      display: none
   node
      --r: 0 !important
      background-image: none !important
      border: solid .5rem white
   #nonagon-infinity
      --r: 8 !important
   #dust
      display: none